h1 {
  margin-top: 2rem;
}

#formHeading {
  margin: auto;
  padding: 1rem;

  ul {
    padding: 2rem;
  }
}

.collapsible {
  display: none;

  #toggle1, #toggle2 {
    display: none;
    visibility: hidden;
  }
}

form {
  margin: 2rem auto;
}

/* ===== AT SMALL SCREENS ===== */

@media (max-width: 576px) {

  #detailsForm {
    display: none;
  }

  div.collapsible {
    display: contents;

    #label1, #label2 {
      display: block;
      text-align: center;
      font-size: 1.5rem;
    }

    #label1:hover, #label2:hover {
      color: #555;
    }

    #label1::after, #label2::after {
      content: ">";
      margin-left: 0.5rem;
      display: inline-block;
    }

    #expand1, #expand2 {
      height: 0;
      overflow: hidden;
      transition: height 0.5s ease-in;
    }

    #toggle1:checked ~ #expand1 {
      height: 30rem;
    }

    #toggle1:checked ~#label1::after {
      content: "^";
    }

    #toggle2:checked ~ #expand2 {
      height: 30rem;
    }

    #toggle2:checked ~#label2::after {
      content: "^";
    }
  }

  form {
    margin: 0 auto;

    h2 {
      margin-top: 2.5rem;
      margin-bottom: 2rem;
    }
  }

  h1 {
    font-size: 2rem;
    z-index: 1000;
  }
}
