<div class="container-fluid">
  <h1 class="text-center">Register to Company</h1>
  <div id="formHeading" class="col-sm-12 col-lg-8">
    <h2 class="lead text-center">Select Existing Membership</h2>
    <ul class="nav d-sm-flex">
      <li class="nav-item mx-auto d-sm-inline" *ngFor="let user of users">
        <a class="btn btn-outline-primary">{{ user.lastName }}, {{ user.firstName}}</a>
      </li>
    </ul>
  </div>

  <form #detailsForm="ngForm" class="justify-content-center col-sm-11 col-lg-8">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputfirstName">First Name</label>
        <input type="text" class="form-control" id="inputfirstName" placeholder="First Name">
      </div>
      <div class="form-group col-md-6">
        <label for="inputlastName4">Last Name</label>
        <input type="text" class="form-control" id="inputPassword4" placeholder="Last Name">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputmiddleName">Middle Name</label>
        <input type="text" class="form-control" id="inputmiddleName" placeholder="Middle Name">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputemail">E-mail Address</label>
        <input type="email" class="form-control" id="inputemail" placeholder="name@example.com">
      </div>
      <div class="form-group col-md-6">
        <label for="inputphone">Phone Number</label>
        <input type="tel" class="form-control" id="inputphone4" placeholder="(   )   -    ">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCompany">Company Name</label>
        <input type="text" class="form-control" id="inputCompany" placeholder="">
      </div>
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity" placeholder="">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputState">State</label>
        <select class="form-control" id="inputState">
          <option selected>--</option>
          <option>AL</option>
          <option>AK</option>
          <option>AZ</option>
          <option>AR</option>
          <option>CA</option>
          <option>CO</option>
          <option>CT</option>
          <option>DE</option>
          <option>DC</option>
          <option>FL</option>
          <option>GA</option>
          <option>HI</option>
          <option>ID</option>
          <option>IL</option>
          <option>IN</option>
          <option>IA</option>
          <option>KS</option>
          <option>KY</option>
          <option>LA</option>
          <option>ME</option>
          <option>MD</option>
          <option>MA</option>
          <option>MI</option>
          <option>MN</option>
          <option>MS</option>
          <option>MO</option>
          <option>MT</option>
          <option>NE</option>
          <option>NV</option>
          <option>NH</option>
          <option>NJ</option>
          <option>NM</option>
          <option>NY</option>
          <option>NC</option>
          <option>ND</option>
          <option>OH</option>
          <option>OK</option>
          <option>OR</option>
          <option>PA</option>
          <option>RI</option>
          <option>SC</option>
          <option>SD</option>
          <option>TN</option>
          <option>TX</option>
          <option>UT</option>
          <option>VT</option>
          <option>WA</option>
          <option>WV</option>
          <option>WI</option>
          <option>WY</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="inputfeinID">FEIN ID</label>
        <input type="text" class="form-control" id="inputfeinID" placeholder="">
      </div>
    </div>
    <div class="form-row">
      <div class="col-offset-6">
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="ownerCheck">
            <label class="form-check-label" for="ownerCheck">
              I am the Owner of Company
            </label>
          </div>
        </div>
      </div>
    </div>
    <a class="btn btn-success" routerLink="/register/2">Continue</a>
  </form>
</div>
