<div class="container-fluid">
  {{ primaryPassword }}

  <form [formGroup]="passwordForm" novalidate class="justify-content-center col-sm-10 col-lg-6">
    <h2>Create Password</h2>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputPwd1">New Password</label>
        <input type="password" class="form-control" id="inputPwd1" name="primaryPassword" formControlName="primaryPassword" autofocus />
        <div *ngIf="passwordForm.value.primaryPassword.length < 8 || passwordForm.value.primaryPassword.length > 20" class="alert alert-danger">
            Password must be between 8-20 characters long
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputPwd2">Confirm Password</label>
        <input type="password" class="form-control" id="inputPwd2" name="confirmPassword" formControlName="confirmPassword">
        <div *ngIf="passwordForm.value.primaryPassword !== passwordForm.value.confirmPassword" class="alert alert-danger">
            Passwords must match
        </div>
      </div>
    </div>
    <hr />
    <h2>Security Questions</h2>
    <div class="form-row">
      <div class="form-group col-sm-12 col-md-8">
        <label for="inputQ1">Question 1</label>
        <select class="form-control" id="inputQ1">
          <option selected>--</option>
          <option>What is your mother's Maiden name?</option>
          <option>What was the model of your first car?</option>
          <option>What street did you grow up on?</option>
        </select>
        <input type="text" class="form-control" placeholder="Answer..." />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8">
        <label for="inputQ2">Question 2</label>
        <select class="form-control" id="inputQ2">
          <option selected>--</option>
          <option>What is your mother's Maiden name?</option>
          <option>What was the model of your first car?</option>
          <option>What street did you grow up on?</option>
        </select>
        <input type="text" class="form-control" placeholder="Answer..." />
      </div>
    </div>
    <div class="" id="buttonDiv">
      <a class="btn btn-lg btn-success mx-auto" routerLink="/">Continue</a>
    </div>
  </form>
</div>
