@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

$raleway-font: 'Raleway', sans-serif;
$montserrat-font: 'Montserrat', sans-serif;

$font-family-sans-serif: $montserrat-font;
$headings-font-family: $raleway-font;
